<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<table border="2" class="table">
  <tr style="background-color:lightslategrey;">
    <th (click)="sortingRow('id')">Mobile Id</th>
    <th (click)="sortingRow('name')">Mobile Name</th>
    <th (click)="sortingRow('price')">Mobile Price</th>
    <th >Action</th>
  </tr>

  <tr *ngFor="let mobile of mobileData | sorted:column:order">
    <td style="background-color:lavenderblush;" >{{mobile.id}}</td>
    <td style="background-color:darkseagreen;">{{mobile.name}}</td>
    <td style="background-color:lavenderblush;">{{mobile.price | currency}}</td>

    <td style="background-color:darkseagreen;"><input type="button" value="Delete" (click)="deleteRow(mobile)"></td>
  </tr>
</table>